@(dataTimestamp:org.chepurnoy.timeseries.TimeSeriesData,number:Integer)

@import org.chepurnoy.timeseries._

<div class="page-header">
    <h3 id="tables">Number points in graph</h3>
    <div class="input-prepend input-append">
        <input type="text" placeholder="Number Points" class="numberPoints" value="@number" >
        <button class="btn sent" type="button">OK</button>
    </div>
</div>
<div id="chart">
</div>
<script type="text/javascript">
    $(function () {
        var charts = [];
        charts[ '@dataTimestamp.basket' ] = new Highcharts.Chart({
            chart: {
            renderTo: 'chart',
            defaultSeriesType: 'spline'
            },
            title: {
            text: ""
            },
            xAxis: {
                type: 'datetime',
                labels: {
                    formatter: function () {
                        return Highcharts.dateFormat('%d %b %H:%M', this.value);
                    },
                    dateTimeLabelFormats: {
                        minute: '%H:%M',
                        hour: '%H:%M',
                        day: '%e. %b',
                        week: '%e. %b',
                        month: '%b \'%y',
                        year: '%Y'
                    }
                }
            },
            series: [{
                name: "Value",
                data: (function () {
                    // generate an array of random data
                    var data = [];
                    @dataTimestamp.data.map{ datum=>
                        data.push([@datum.timestamp.getMillis(),@datum.value]);
                    }
                    return data;
                    })()
            }]
        });
    });

    $(".sent").click(function(){
        var basket = $("select").val();
        var number = $(".numberPoints").val();
        loadContent("/graph/" + basket + "/" + number);
    });
</script>
