@(dataTimestamp:org.chepurnoy.timeseries.TimeSeriesData)

@import org.chepurnoy.timeseries._

<div class="page-header">
    <h1 id="tables">@dataTimestamp.basket</h1>
</div>
<div id="chart">
</div>
<script type="text/javascript">
    $(function () {
        var charts = [];
        charts[ '@dataTimestamp.basket' ] = new Highcharts.Chart({
            chart: {
            renderTo: 'chart',
            defaultSeriesType: 'spline'
            },
            title: {
            text: ""
            },
            xAxis: {
                type: 'datetime',
                labels: {
                    formatter: function () {
                        return Highcharts.dateFormat('%a %d %b %H:%M', this.value);
                    },
                    dateTimeLabelFormats: {
                        minute: '%H:%M',
                        hour: '%H:%M',
                        day: '%e. %b',
                        week: '%e. %b',
                        month: '%b \'%y',
                        year: '%Y'
                    }
                }
            },
            series: [{
                name: "Value",
                data: (function () {
                    // generate an array of random data
                    var data = [];
                    @dataTimestamp.data.map{ datum=>
                        data.push([@datum.timestamp.getMillis(),@datum.value]);
                    }
                    return data;
                    })()
            }]
        });
    })
</script>
