@(baskets:List[String])

@main("Welcome") {
<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Simple Monitoring</a>
        </div>
        <div class="navbar-collapse collapse navbar-inverse-collapse">
            <div id="basket" class="navbar-form navbar-left">
                <ul class="nav navbar-nav">
                    <li><a href="#" id="table">Table</a></li>
                    <li><a href="#" id="graph">Graph</a></li>
                    <li>
                        <select class="form-control col-lg-8" name="basket" id="select">
                            <option disabled>Select basket</option>
                            @baskets.map{ basket=>
                            <option>@basket</option>
                            }
                        </select>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div id="content">
</div>
<script type="text/javascript">

    function loadContent(url){
        $("#content").load( url,
            function( response, status, xhr ) {
                if (status == "error")
                    $("#content").html( "Sorry but there was an error:" + xhr.status + " " + xhr.statusText);
            }
        );
    };

    $("#table").click(function(){
        var basket = $("select").val();
        loadContent("/table/" + basket);
        $.cookie("tab","table");
    });

    $("#graph").click(function(){
        var basket = $("select").val();
        loadContent("/graph/" + basket);
        $.cookie("tab","graph");

    });

    $("select").change(function() {
        var basket = $("select").val();
        if($.cookie("tab") == "graph") loadContent("/graph/" + basket);
        else loadContent("/table/" + basket);
    });
</script>
}
